@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
#header{
    h1{
        width: 50vw;
        height: 5vh;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #1e90ff;
        font-family: "Cookie", cursive;
        user-select: none;
    }
    width: auto;
    height: auto;
    nav{
        height: 10vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .socials{
            width: 15vw;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .soc-img{
                width: 30px;
            }
            .soc-img:hover{
                transform: scale(1.2);
                transition: 0.3s;
            }
        }
        .links{
            width: 70vw;
            height: 10vh;
            display: flex;
            align-items: end;
            justify-content: center;
            a{
                font-weight: 1000;
                margin: 0 1rem;
                border-radius: 10px;
            }
            a:hover{
                background-color: #1e90ff;
                color: black;
                padding: 5px 10px;
                transition: padding 0.3s ease-out;
            }
        }
        .website-builder{
            width: 15vw;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                border-radius: 10px;
                font-weight: 700;
            }
            a:hover{
                color: #1e90ff;
                transition: all 0.5s;
            }
        }
    }
}

.socials {
  display: flex;
  gap: 15px;

  .soc-icon {
    color: white;
    transition: transform 0.3s, color 0.3s;
    
    &:hover {
      color: #1e90ff;   // change color on hover
      transform: scale(1.2);
    }
  }
}